{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container" id="auth-container">
    <div class="card">
        <div class="card-body">
            <h1>Register</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3" id="login_components">
                    {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }}
                    {{ form.username.label(class="form-label", for="floatingInput") }}
                    {% for err in form.username.errors %}
                    <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3" id="login_components">
                    {{ form.email(class="form-control", id="floatingInput", placeholder="Email") }}
                    {{ form.email.label(class="form-label", for="floatingInput") }}
                    {% for err in form.email.errors %}
                    <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3" id="login_components">
                    {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
                    {{ form.password.label(class="form-label", for="floatingPassword") }}
                    {% for err in form.password.errors %}
                    <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3" id="login_components">
                    {{ form.confirm_password(class="form-control", id="floatingInput", placeholder="Confirm Password") }}
                    {{ form.confirm_password.label(class="form-label", for="floatingInput") }}
                    {% for err in form.confirm_password.errors %}
                    <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
